{# BLOCK: CONTACT #}
<section class="section section-contact">
    <div class="contact-sidebar">
        {# {% if content.title|default %}
            <h2 class="contact__heading">{{ content.title }}</h2>
        {% endif %} #}
        {% if content.description|default %}
            <div class="contact__description">{{ content.description|raw }}</div>
        {% endif %}
    </div>
    {% if content.form|default %}                
        <div class="contact">
            {% if app.request.get('send') == 'true' %}
                <div id="form-success-message" class="form-success-message mb-3">
                    {{ view.form.entity.successText|raw }}
                </div>

                {# <script>
                    window.addEventListener('load', () => {
                        const section = document.querySelector('.section-contact');
                        const header = document.querySelector('.header');

                        if (section) {
                            const headerHeight = header ? header.offsetHeight + 20 : 20;

                            const html = document.documentElement;
                            const prevBehavior = html.style.scrollBehavior;
                            html.style.scrollBehavior = 'auto';

                            const rect = section.getBoundingClientRect();
                            const absoluteY = window.scrollY + rect.top - headerHeight;

                            window.scrollTo(0, absoluteY);

                            html.style.scrollBehavior = prevBehavior;
                        }
                    });
                </script> #}
            {% endif %}
            
            {% form_theme content.form 'form/theme.html.twig' %}
            
            {{ form_start(content.form, { attr: { class: 'contact__form row g-3', novalidate: 'novalidate' } }) }}
                {% for child in content.form %}
                    {{ form_row(child) }}
                {% endfor %}
            {{ form_end(content.form) }}
        </div>
    {% endif %}
</section>