{# BLOCK: GALLERY #}
<section class="section section-gallery">
    <div class="gallery-sidebar">
        {% if content.description|default %}
            <div class="gallery-sidebar-description">
                {{ content.description|raw }}
            </div>
        {% endif %}
        {% if content.link|default %}
            <a class="gallery-sidebar-link" href="{{ content.link }}">
                {{ view.link.title|default }}
            </a>
        {% endif %}
    </div>
    <div class="gallery__slider-wrapper" data-controller="gallery-slider">
        <div class="gallery__slider swiper" data-gallery-slider-target="container">
            <div class="swiper-wrapper">
                {% for key, item in content.images|default([]) %}
                    <div class="gallery__img-wrapper swiper-slide">
                            <img 
                                class="gallery__img glightbox-item"
                                src="{{ item.url }}"
                                loading="lazy"
                                decoding="async"
                                data-gallery="gallery"
                            />
                    </div>
                {% endfor %}
            </div>
            <div class="gallery__nav">
                <button 
                    class="gallery__arrow gallery__prev"
                    type="button"
                    aria-label="Previous"
                    data-gallery-slider-target="prev"
                >
                </button>

                <button 
                    class="gallery__arrow gallery__next"
                    type="button"
                    aria-label="Next"
                    data-gallery-slider-target="next"
                >
                </button>
            </div>

            <a href="#" class="open-gallery" data-gallery-slider-target="open">+</a>
        </div>

        {% if content.parrentPage|default %}
            <a class="back-button" href="{{ content.parrentPage }}" data-controller="scroll-memory"
                 data-scroll-memory-key-value="projects">
                x
            </a>
        {% endif %}

    </div>
</section>